<h2>About This App</h2>

<p>
    This is a sample Angular application demonstrating standalone components,
    routing, and BootsWatch themes.
</p>
<hr>
<p>
    <span class="fw-bold">Course Context / Background:</span> The skills of Web page and app creation have become vital
    to many
    careers. If you work in an office or with a computer, then you are likely to need skills with Web-based app
    technologies for various job-related tasks. If you want to work as a Web developer, app developer, or site
    designer, with responsibility for the Web resources of an entire company or organization, then you need to
    master the most current standard languages for Web authoring: Hypertext Markup Language version 5
    (HTML5) and Cascading Style Sheets version 3 (CSS3). This course teaches students how to create Web
    pages and apps using the latest HTML5, CSS/CSS3, and JavaScript techniques, emphasizing client side.
    Technologies include HTTP protocol, dynamic HTML, server-side programming, and client-side
    JavaScript libraries & frameworks. Prerequisite: COSC 336.
</p>